html {
    font-family: 'Merriweather', serif;
    box-sizing: border-box; 
}

body {
    margin: 0 auto;
}

/* HEADER CONTENT */

header {
    padding-bottom: .25rem;
}

h1 {
    background-color: #023044;
    color: white;
    text-transform: uppercase;
    font-size: 1.1rem;
    padding: 1.5rem 2rem;
    margin: 0;
}

h2 { 
    font-size: 1.15rem;
    margin-top: 1.5rem;
    margin-bottom: .6rem;
}

header p {
    line-height: 1.5;
    font-size: .85rem;
    padding: 0 .75rem 2rem;
    border-bottom: 4px black solid;
    margin: .6rem .75rem 0;
}

h1, h2, header p {
    text-align: center;
}

/* CONTACT INFORMATION CONTENT */

fieldset:first-child {
    border: none;
    padding-bottom: 1rem;
    margin: 0;
}

.contact, .newsletter {
    width: 100%;
    padding: 1.5rem 0 1rem;
    border-top: 2px solid black;
    font-weight: bold;
    font-size: 1.2rem;
}

label, input, select {
    display: block;
    width: 100%;
}

label, input, textarea, footer p {
    font-size: .85rem;
}

input {
    height: 1.5rem;
}

input, select, textarea {
    background-color: rgba(211, 211, 211, 0.267);
    border: none;
    border-radius: 5px; 
}

::placeholder {
    color: #bab7b7;
}

input, select {
    width: 92%;
    text-align: left;
    font-style: normal;
    color: lightslategray;
    padding: .75rem;
    margin: .65rem 0 1.25rem;
}

select {
    width: 100%;
    height: 3.25rem;
    font-size: .9rem;
}

option {
    font-size: .8rem;
}

input[id="zip"] {
  width: 46%; 
}

input:focus {
    border: 2px solid navy;
}


/* NEWSLETTER CONTENT */

fieldset:last-child {
  border: none;
}

.checkbox_instruction {
    padding-left: .25rem;
    margin: 0 auto .5rem;
    font-size: .9rem;
}

.html, .css, .javascript, .html_format, .plain_text {
  height: 1.5rem;
  margin-bottom: .75rem;
}

.html label, .css label, .javascript label, .html_format label, .plain_text label, .html input, .css input, .javascript input, .html_format input, .plain_text input {
    display: inline-block; 
    vertical-align: middle;
    text-align: left;
}

.html input, .css input, .javascript input, .html_format input, .plain_text input {
    width: 5%;
    margin-left: .25rem;
}

.html label, .css label, .javascript label, .html_format label, .plain_text label {
    width: 80%;
    height: 1.5rem;
    margin-left: .75rem;
}

.newsletter_format {
    padding-top: .75rem;
    margin: 1.5rem 0 0 .25rem;
    font-size: .9rem;
}

label[for="comment"] {
    padding-top: 1.25rem;
    margin: 1rem 0 .75rem .25rem;
}

textarea {
    display: block;
    width: 98%;
    height: 5.5rem;
    margin: 0 auto .8rem;
}

button {
  display: block;
  width: 98%;
  margin: 0 auto;
  height: 3.75rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  background-color: #3cb1b4; 
}


/* FOOTER CONTENT */

footer {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

footer p {
    text-align: center;
    font-style: italic;
}




@media screen and (min-width: 321px) and (max-width: 767px) { 
    header p {
        width: 80%;
        margin: 0 auto;
    }
    
    main {
        width: 90%; 
        margin: 0 auto;
    }

    select {
        width: 97%;
    }

    .html input, .css input, .javascript input, .html_format input, .plain_text input {
        height: .75rem;
        vertical-align: middle;
    }
}





@media screen and (min-width: 768px) {
    body {
        margin: 0 auto;
        min-width: 700px;
    }
  
    main {
      max-width: 700px;
      margin: 0 auto;
  }


/* HEADER CONTENT */

  header {
    flex-direction: column;
  }

  h1, h2, button, textarea {
    width: 100%;
  }

  h2 {
    font-size: 1.4rem;
    margin-top: 3rem;
    margin-bottom: 0;
  }

  header p {
    width: 653px;
  }


/* CONTACT INFORMATION CONTENT */

fieldset:first-child, header p {
    padding-bottom: 2.5rem;
}

div, label, input, select, header {
    display: flex;
    align-items: center;
}

.contact {
    padding-top: 3rem;
}

label {
    padding-bottom: .75rem;
    padding-top: .75rem;
    flex-grow: 1;
    flex-basis: 20%;
}

input, select, input[id="zip"] {
    margin-left: 2rem;
    flex-basis: 80%;
}

input, select {
    margin-bottom: .75rem;
}

select {
    flex-basis: 84%;
}

input[id="zip"] {
    flex-basis: 30%;
    margin-right: 45.5%;
}


/* NEWSLETTER CONTENT */

.newsletter {
    padding-top: 2.5rem;
    padding-bottom: .5rem;
}

.checkbox_instruction {
    padding-left: 0;
}

.html, .css, .javascript, .html_format, .plain_text {
   margin-bottom: .5rem; 
}

.html label, .css label, .javascript label, .html_format label, .plain_text label {
    flex-grow: 1;
    flex-basis: 80%;
    padding-bottom: .75rem;
}

.html input, .css input, .javascript input, .html_format input, .plain_text input {
    flex-basis: 5%;
    height: .75rem;
    margin: 0 0 .5rem 0;
}

.newsletter_format {
    margin: .4rem 0 .25rem;
}

.javascript {
    margin-bottom: 0;
}

.comment {
  display: flex;
  flex-direction: column;
}

label[for="comment"] {
  padding-top: .75rem;
  margin: 0 0 .25rem;  
}

textarea {
    height: 7rem;
    padding-left: 0;
    padding-right:0;
    margin-left: 0;
    margin-right: 0;
}

/* FOOTER CONTENT */

footer {
    margin-top: 2rem;
    margin-bottom: 4rem;
}


}